
div.box {
    background-color: #e07a8e;
    border: 4px dotted #dc143c;
    border-radius: 130px;
    color: #fff;
    height: 250px;
    font-size: 4em;
    line-height: 4em;
    margin: 200px auto;
    text-align: center;
    transition: all 0.5s;
    width: 250px;
}
div.box:hover {
    background-color: #80b2eb;
    border: 4px solid #0b56ac;
    transform: scale(2) rotate(360deg);
}